<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <div class="mx-auto bg-primary" style="width:30%">
        <div class="mt-5">
            <div class="p-3">
                <h2>Add New Card:</h2>
                <div class="form-group">
                    <h5>Title:</h5>
                    <input type="text" formControlName="title" id="Title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.heading.errors }" />
                </div>
                <div *ngIf="f.title.errors?.required && f.touched" class="invalid-feedback">Title is required
                </div>
                <div class="form-group ">
                    <h5>Image:</h5>
                    <input type="file" formControlName="logo" class="form-control" />
                </div>
                <div class="form-group ">
                    <h5>content:</h5>
                    <textarea rows="4 " cols="50 " name="comment " id="description" form="dynamicForm " formControlName="content" class="form-control " [ngClass]="{ 'is-invalid': submitted && f.content.errors}">
        Enter text here...</textarea>
                </div>
                <div *ngIf="f.content.errors?.required" class="invalid-feedback">
                </div>
                <div *ngIf="router.url === '/add'">
                    <div class="mr-3 float-right ">
                        <button id="save " class="btn btn-success">Save</button>
                    </div>
                    <button type="button" id="cancel " class="btn btn-danger" routerLink="/home" routerLinkActive="active">Cancel</button>
                </div>
                <div *ngIf="router.url != '/add'">
                    <div class="mr-3 float-right ">
                        <button type="button" id="update" class="btn btn-success" (click)=update(id)>Update</button>
                    </div>
                    <button type="button" id="delete" class="btn btn-danger" (click)=delete(id)>Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>